{% extends "quizzer/layout.html" %}
{% load static %}


{% block body %}
    <nav id="navigator" class="navbar">
        <div class="mainHeadingDiv">
            <a id="mainHeading" class="doubleGames" href="{% url 'index' %}">Quizzer</a>
            <div id="usernameLabel" class="doubleGames">{{user.username}}</div>
        </div>
        
        <div id="sidebar">
            <div id="sidebar1">
                <div id="doubleGames">
                    <a   class="doubleGames btn btn-sm btn-outline-primary" href="{% url 'challenges' %}">Challenges</a>
                </div>
                <div id="doubleGames">
                    <a   class="doubleGames btn btn-sm btn-outline-primary" href="{% url 'doubleLeaderboard' %}">Double Game Leaderboard</a>
                    <a   class="doubleGames btn btn-sm btn-outline-primary" href="{% url 'doubleHistory' %}">Double Game History</a>
                </div>
            </div>
            <div id="sidebar2">
                <div id="singleGames">
                    <a   class="doubleGames btn btn-sm btn-outline-primary" href="{% url 'singleLeaderboard' %}">Single Game Leaderboard</a>
                    <a   class="doubleGames btn btn-sm btn-outline-primary" href="{% url 'singleHistory' %}">Single Game History</a>
                </div>
                <div id="doubleGames">
                    <a id="logout"  class="doubleGames btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>     
        </div>   
    </nav>

    <h5 style="margin-top: 0.5rem;">Challenge a player</h5>

    <form id="singleHistoryForm"  action="{% url 'doubleIntro' %}" method="post">
        {% csrf_token %}
        Select the opponent:  
        <select id="singleHistorySelect" name="selectPlayer" class="btn btn-sm btn-outline-primary">
            {% for user in users %}
                    <option value="{{ user }}">{{ user }}</option>
            {% endfor %}       
        </select>

        <button id="singleHistoryButton" class="btn btn-primary" type="submit">Challenge</button>
    </form>
    
{% endblock %}